body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#container {
    height: auto;
    margin-left: 0.345%;
    margin-right: 0.345%;
}
.services{
    display: flex;
    padding-right: 0.944%;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    
}
.services-info-1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 49.056%;
    padding-right: 9.05%;

}
.services-info-2{
   height: 100%;
   width: 50%;
}
.image{
    height: 100%;
    width: 100%;
}
.child-ser-info{
   display: flex; 
}
/* #p1{
  background-color: red;
}
#p2{
    background-color: blueviolet;
}
#p3{
background-color: greenyellow;
}
#p4{
background-color: thistle;
}
#p5{
 background-color: yellow;
 
} */