*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab,serif;
}

.page{
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #f0f8ff;
}
 nav {
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #212529;
    padding: 1rem 2rem;
}   
.collab{
    font-size: 1.5rem;
    color: white;
}
nav a{
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-size: 1rem;
    padding: 1rem 0.75rem;
}
.services{
    display: flex;
    perspective: 1000px;
}
.services-info-1{
    width: 50%;
    /* background-color: aqua; */
}
.services-info-2{
    width: 50%;
    transform-style: preserve-3d;
    transition: transform 1s;
    /* padding-top: 3.5rem; */
    /* background-color: rgb(209, 104, 24); */
}
.services-info-2:hover{
    transform:rotateY(180deg);
}
.child-ser-info{
    display: flex;
}
.image{
   width:100%;
}
#img1{
    padding-top: 3.5rem;
}
#img4{
    padding-bottom: 3.5rem;
}
h2{
    font-size: 3rem;
    font-weight: 300;
    margin: 3rem 0rem;
    padding: 0;
    line-height: 1.2em;
}
h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 3rem 0rem;
    line-height: 1.2em;
}
p{
    font-size: 1.3rem;
    font-weight: 800;
    margin-right: 2.2rem;
}
div h2:hover{
    transform: scale(1.03);
    font-weight: 305;
}
p:hover{
   opacity: 0.6;
   transition: 0.1s;
}
nav a {
    color: white;
}
button{
    background-color: #212529;
    color: #f0f8ff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 4rem;
    padding: 1rem 2rem;
    transition: .2s;
} 
button:hover{
    opacity: 0.8;
} 

